.headerNav {
  @apply flex flex-col pt-[50px];
}
@media screen and (max-width: 1080px) {
  .header_res {
    @apply flex justify-between items-center bg-[#1c1b3b] px-16 py-4;
  }
  .headerNav {
    @apply pt-0;
  }
  .content {
    padding-top: 150px;
    width: 80% !important;
  }
}
.logo {
  @apply cursor-pointer flex justify-center;
}

.content {
  margin: -50px 100px;
  @apply w-[500px];
}
@media (min-width: 1600px) {
  .content {
    margin: -50px var(--container);
  }
}
.content h1 {
  @apply text-[24px] mb-14;
  line-height: 1.5;
}
.content p {
  @apply uppercase text-[32px] mb-4 w-[50%];
  line-height: 1;
}
