.container {
  @apply flex flex-col gap-4 xl:flex-wrap;
}
.container h2 {
  @apply text-[#212052] text-xl font-semibold;
}
@media screen and (max-width: 1080px) {
  .news_box:nth-child(2) {
    @apply hidden;
  }
}

.container hr {
  @apply border-[#212052] bg-[#212052] h-[2px] mb-4;
}
.news {
  @apply flex gap-24;
}
.news_box {
  @apply flex flex-col  gap-8;
}
.news_container div {
  @apply flex flex-col gap-6;
}
.card_container {
  @apply flex gap-3 w-full;
}
.text {
  @apply flex flex-col gap-2 w-full;
}
.text span {
  @apply flex gap-2 uppercase text-[#959595];
}
.text h2 {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  @apply text-[#353372];
}
