.management_stuff {
  display: flex;
  gap: 40px;
}
.management_stuff > .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.diploms {
  margin: 20px 0;
}
.description > h1 {
  font-size: 26px;
  line-height: 27px;
  font-weight: 700;
  color: #192f59;
  font-family: "Poppins", sans-serif;
}
.description > p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7c7c7c;
  font-size: 16px;
  line-height: 27px;
}
.diploms > p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #6b6b6b;
}
