.container {
  background-color: #171748;
  @apply flex h-[85vh] items-center;
}
@media screen and (max-width: 1360px) {
  .container {
    @apply h-[110vh];
  }
}
.leftImage {
  width: 2200px;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #171748),
    url("/images/img_9.png");
}
@media (min-width: 1600px) {
  .leftImage {
    background-size: 100% 100%;
  }
}
.rightContent {
  @apply text-white ml-[-130px] mr-28;
}
.rightContent h1 {
  @apply text-4xl font-extrabold;
}
.rightContent h3 {
  @apply text-xl my-4;
}
.rightContent p {
  @apply mt-8 text-lg w-[500px] mb-9;
}
