@media (max-width: 1080px) {
  .container {
    display: none;
  }
}
.topBarBg {
  @apply h-[75px] relative flex;
  line-height: 1.7;
  background-color: var(--primary);
  font-family: "Poppins", sans-serif;
  font-size: 17px;
}
.barContainer {
  @apply flex h-full px-[70px] items-center justify-between w-full;
}
@media (min-width: 1600px) {
  .barContainer {
    @apply flex h-full px-[var(--container)] items-center justify-between w-full;
  }
}
.left {
  @apply flex gap-5 text-white items-center;
}
.right {
  @apply text-white h-full bg-[#3a3a7c] w-[100px] flex items-center justify-center;
}
.icon {
  margin-right: -12px;
}
