.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4em;
  margin-bottom: 4.5rem;
}
.container > h1 {
  font-size: 9rem;
  font-weight: bold;
}
.container > h2 {
  font-size: 2.4rem;
  font-weight: 800;
}
.container > h3 {
  font-size: 1.2rem;
}
.container > button {
  font-size: 1rem;
}
.container > .key_search {
  @apply mt-14 py-4 w-4/12 px-6 mb-4 bg-gray-900;
  opacity: 40%;
}
