.header_title {
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  color: #ffff;
}
.contact_page {
  background-color: #f5f5f5;
}
.contact_page > div:nth-child(1) > div:nth-child(2) > div > div {
  margin-top: 350px !important;
  margin: 0 50px;
  text-align: center;
}
.contact_page > div > div > div > div > p {
  font-size: 22px;
  line-height: 37px;
  font-weight: 400;
  color: white;
  font-family: "Poppins", sans-serif;
}
.contact_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
  margin: 70px 50px;
}
@media (max-width: 1000px) {
  .contact_content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact_zone {
    margin-bottom: 100px;
    width: 100% !important;
  }
  .address {
    width: 100% !important;
  }
}
.contact_zone {
  width: 60%;
}
.address {
  width: 30%;
}
.contact_zone > h2,
.address > h2 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #161616;
}
.contact_zone > p,
.address > p {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  color: #6b6b6b;
}
.address > p {
  display: flex;
  gap: 15px;
  align-items: center;
}
.address > div {
  margin: 0 !important;
}
#contact_inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 !important;
  text-align: start;
}
.contact_inpuut {
  width: 100% !important;
  padding: 13px !important;
  border-radius: 5px;
}
.contact_btn {
  background-color: #c50227;
  padding: 13px;
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}
