.header {
  @apply flex pl-24 items-end text-5xl font-bold;
  margin-top: 340px;
}
.container {
  @apply pb-14;
}
@media (min-height: 1000px) {
  .header{
    margin-top: 460px;
  }
}
@media (max-width: 700px) {
  .praktika{
    flex-direction: column;
  }
  .praktika_haqida {
    width: 100%!important;
    padding: 120px 0;
  }
  .img_practice,
  .img_fakultativ,
  .img_yotoqxona,
  .img_imtiyozlar,
  .img_fanlar {
    width: 100%!important;
    height: 480px!important;
  }
  .praktika_qabul {
    flex-direction: column
  }
  .ariza{
    padding: 50px 0;
    width: 100%!important;
  }
  .registration{
    padding: 50px 0;
    width: 100%!important;
  }
  .reg_haqida{
    margin: 5rem!important;
  }
  .cardsContainer{
    margin: 3rem!important;
  }
  .containerManbalar{
    margin: 3rem!important;
  }
}
.praktika {
  @apply w-screen flex min-h-[480px];
}
.praktika_qabul {
  @apply w-screen flex min-h-[88vh];
}
.praktika_haqida {
  @apply w-[50%] flex flex-col gap-4 justify-center items-center px-20;
}
.praktika_haqida > h2 {
  @apply font-bold text-2xl;
}
.img_practice {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/3.jpg")];
}
.img_fakultativ {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/maktab-hayoti.jpg")];
}
.img_yotoqxona {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/dormitory.jpg")];
}
.img_imtiyozlar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/olimpiad.jpg")];
}
.img_fanlar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/nanotechnology.jpg")];
}
.ad_img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @apply w-[50%] h-auto bg-[url("/images/3.jpg")];
}
.ariza {
  @apply flex flex-col px-20 w-[50%] justify-center items-center bg-gray-200;
}
.ariza > h4 {
  @apply text-[17px] self-start text-slate-900 font-semibold;
  letter-spacing: 0.14rem;
}
.ariza > h1 {
  @apply text-[26px] font-bold py-1;
}
.ariza > p {
  @apply text-[16px] py-6;
}
.registration {
  @apply w-[50%] flex flex-col gap-6 px-20 justify-center bg-gray-200;
}
.one > h1 {
  @apply text-4xl flex flex-col justify-center text-green-600 font-bold;
}
.two > h1 {
  @apply text-4xl flex flex-col justify-center text-blue-600 font-bold;
}
.three > h1 {
  @apply text-4xl flex flex-col justify-center text-gray-700 font-bold;
}
.registration > span {
  @apply flex flex-col gap-4;
}
.content {
  @apply text-[16px] leading-8;
}
.contactWays {
  @apply flex flex-col gap-4 self-start pt-6;
}
.contact {
  @apply flex gap-2 self-start;
}
.contact > span {
  @apply text-[14px] gap-1 flex flex-col;
}
.reg_haqida {
  @apply mx-56 mt-20 leading-6 text-[17px];
}
.reg_haqida > h1 {
  @apply mb-6 text-slate-900 text-2xl text-center font-extrabold;
}
.cardsContainer {
  @apply mx-20 my-16 flex flex-wrap gap-16 justify-center;
}
.containerManbalar {
  @apply mx-20 my-16 flex flex-col gap-10 justify-center;
}
.containerManbalar > span {
  @apply flex flex-wrap gap-16 justify-center;
}
.manbalar {
  @apply text-2xl font-bold self-center text-slate-900;
}
